* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting background color for entire page */
body {
    background-color: #d9dcd6;
}

/* Setting general header properties */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Setting <h1> tag inside header specific properties */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changing the colors of "seo" letters in Horiseon word */
mark.seo {
    color: #d9dcd6;
    background: none;
}

/* Setting general navigation panel properties */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Setting list properties */
nav ul {
    list-style-type: none;
}

/* Setting list item properties */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Setting figure img properties */
figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/* Setting a class for positioning images to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Setting a class for positioning images to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Setting Article with id=contents properties */
#content {
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-left: 20px;
}

/* Setting Article with id=benefits properties */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Setting formatting for Article-content sections */
.content_sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Setting properties for img in Article-content sections */
.content_sections img {
    max-height: 200px;
}

/* Setting properties for h2 in Article-content sections */
.content_sections h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Setting formatting for Article-benefits sections */
.benefit_secs {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Formatting h3 in Article-benefit sections */
.benefit_secs h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Setting img properties for benefit sections */
.benefit_secs img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Setting footer properties */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
